@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background-color: #5DD9C1;
	font-family: Lato;

}

.container {
	background-color: #122C34;
	color: white;
}

.title-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;



	h1 {
		margin: 0;
	}
}

.projects {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.project {
	width: 20%;
		min-width: 350px;
}

@keyframes crotate{
  0%{transform: rotateY(0deg)}
  10%{transform: rotateY(0deg)}
  50%{transform: rotateY(-360deg)}
  100%{transform: rotateY(-360deg)}
}

.crotate{
  animation-name: crotate;
  animation-duration: 5.2s;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}

@keyframes crocket{
  0%{opacity:0;}
  70%{opacity:1;transform:scale(1)}
  85%{opacity:1;transform:scale(1.2)}
  100%{opacity:1;transform:scale(1)}
}

.crocket{
  animation-name: crocket;
  animation-duration: 5.2s;
  animation-timing-function: ease-in-out;
  transform-origin: bottom right;
}